body {
  background-color: var(--highlight-color);
  font-family: var(--primary-font);
  font-size: 16px;
}

:root {
  --primary-color: #D98841;
  --secondary-color: #F2B84B;
  --highlight-color: #F2CB57;
  --neutral-color: #BF3B0B;
  --text-color: #0a0a0a;
  --blank: #f8f6f3;
  --primary-font: "Sree Krushnadevaraya", serif;
  --secondary-font: "Funnel Sans", sans-serif;
}

p, a, li {
  font-family: var(--secondary-font);
  line-height: 1.6rem;
  font-size: 1.1rem;
}

p.italics {
  font-style: italic;
}

.emphasized {
  font-weight: 800;
}

.btn {
  border-radius: 0px;
  text-transform: uppercase;
  font-family: var(--secondary-font);
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--secondary-color)
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
}